[submodule "packages/ecnu-im-fabcybox"]
	path = packages/ecnu-im-fabcybox
	url = https://github.com/ECNU-Forum/fancybox
[submodule "packages/ecnu-im-topic-starter-label"]
	path = packages/ecnu-im-topic-starter-label
	url = https://github.com/ECNU-Forum/topic-starter-label.git
[submodule "packages/ecnu-im-flarum-ext-chinese-search-mariadb"]
	path = packages/ecnu-im-flarum-ext-chinese-search-mariadb
	url = https://github.com/ECNU-Forum/flarum-ext-chinese-search-mariadb.git
