/*
!site.php
!extend.php
!composer.json
!composer.lock
!.nginx.conf
!flarum
!.gitignore

!storage
storage/*
!storage/views

!vendor
vendor/*
!vendor/acpl
!vendor/fof

!public
public/.htaccess
public/assets/avatars
public/assets/files